@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
body {
  font-family: 'Montserrat', 'OpenSans Regular', verdana, arial, sans-serif;
  font-size: 18px;
  background: #efefef;
}

/* Common styles */
.header, .search, .filters, .codesmells, .footer {
  margin: 0 auto;
  display: table;
}
.codesmells {
  width: 100%;
}

/* Header section */
.header {
  color: #5e5e5e;
  text-align: center;
  padding: 20px;
}
.header h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 10px;
}

/* Search box */
.search {
  width: 98%;
}
#search-box {
  text-align: center;
  width: inherit;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  border: 7px solid #cccccc;
}
#search-box:focus {
  border: 7px solid #5e5e5e;
}

/* Category filters */
.filters {
  padding: 20px;
}
.filters a {
  padding: 10px;
  margin: 5px;
  display: inline;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.filters .clearfilters {
  color: white;
  display: none;
}
.filters .filter {
  background: #999999;
  color: #ffffff;
}

/* Codesmell */
.codesmell {
  min-height: 270px;
  max-height: 270px;
  background: linear-gradient(to bottom right, orange, #ff0000);
  color: #ffffff;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.codesmell h4 {
  font-weight: 700;
}

/* Footer */
.footer {
  padding-bottom: 20px;
  text-align: center;
}

.details {
  font-weight: bold;
  display: none;
}
.close-expansion {
  color: #ffffff;
  text-decoration: none;
  display: none;
}
