@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

/* Global styles */
body {
  font-family: 'Lato', 'OpenSans', verdana, arial, sans-serif;
  font-size: 18px;
  background: #efefef;
}
.header, .search, .filters, .codesmells, .footer {
  margin: 0 auto;
  display: table;
}
.codesmells {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: inherit;
}

/* Header section */
.header {
  color: #3b5998;
  text-align: center;
  padding: 20px;
}
.header h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 10px;
}

/* Search box */
.search {
  width: 98%;
}
#search-box {
  text-align: center;
  width: inherit;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #cccccc;
  border: 7px solid #cccccc;
}
#search-box:focus {
  border: 7px solid #3b5998;
}

/* Category filters */
.filters {
  padding: 10px;
}
.filters a {
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.filters .clearfilters {
  color: white;
  display: none;
}
.filters .filter {
  background: #999999;
  color: #ffffff;
}
.filter-section {
  padding: 12px;
}
.filter-header {
  color: #3b5998;
  font-weight: bold;
}

/* Codesmell */
.codesmell {
  min-height: 310px;
  background: #3b5998;
  color: #ffffff;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.expansion-button {
  position: absolute;
  margin: 10px;
  bottom: 10px;
  right: 10px;
}
.excerpt-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

/* Footer */
.footer {
  padding: 12px;
  padding-bottom: 20px;
}

/* Details sections */
.details {
  display: none;
  letter-spacing: normal;
}
.details.heading-text {
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1.4px;
}

/* Close button */
.close-expansion {
  display: none;
}

/* Count section */
.count-smells {
  padding: 12px;
  font-size: 16px;
  color: #3b5998;
}
