@font-face {
  font-family: 'OpenSans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
body {
  font-family: 'Lato', 'OpenSans Regular', verdana, arial, sans-serif;
  font-size: 18px;
  background: #efefef;
}
h4, h6 {
  font-weight: 700;
}

/* Common styles */
.header, .search, .filters, .codesmells, .footer {
  margin: 0 auto;
  display: table;
}
.codesmells {
  width: 100%;
}

/* Header section */
.header {
  color: #3b5998;
  text-align: center;
  padding: 20px;
}
.header h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 10px;
}

/* Search box */
.search {
  width: 98%;
}
#search-box {
  text-align: center;
  width: inherit;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #cccccc;
  border: 7px solid #cccccc;
}
#search-box:focus {
  border: 7px solid #3b5998;
}

/* Category filters */
.filters {
  padding: 10px;
}
.filters a {
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.filters .clearfilters {
  color: white;
  display: none;
}
.filters .filter {
  background: #999999;
  color: #ffffff;
}

/* Codesmell */
.codesmell {
  min-height: 350px;
  background: #3b5998;
  color: #ffffff;
  margin: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.codesmell h4 {
  font-weight: 700;
}
.expansion-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Footer */
.footer {
  padding-bottom: 20px;
  text-align: center;
}

.details {
  display: none;
  letter-spacing: normal;
}

.details.heading-text {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1.4px;
}

.close-expansion {
  display: none;
}
